<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wx.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wx.pojo.User">
        <id column="user_id" property="userId" />
        <result column="open_id" property="openId" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="hospital_id" property="hospitalId" />
        <result column="medical_id" property="medicalId" />
        <result column="register_time" property="registerTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, open_id, name, number, hospital_id,medical_id,register_time
    </sql>

</mapper>
